@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  height: 100%;
  font-family: "Montserrat", serif;
}

h1{
  font-size: 4.4rem;
  line-height: 5.1rem;
}
h2{
  font-size: 3rem;
  font-weight: 900;
}
h3{
  font-size: 1.6rem;
  font-weight: bold;
}
p{
  font-size: 1.2rem;
  line-height: 1.5rem;
}

:root {
  background-color: #FFE9D0
}